<section id="airdrop-header">
  <h1 class="center">kiwano branding assets page</h1>
  <div class="container">
    <p class="center branding-header-text">
      Download The Official Kiwano Branding Assets.
    </p>
  </div>
</section>
<section class="center">
  <h2>kiwano logos & icons</h2>
  <div class="container ">
    <div class="kiwano-brand-logo me-auto ms-auto">
      <img
      src="/images/kiwano-official-logo.png"
      alt="Kiwano Logo"
      class="img-fluid"
    />
    </div>
    
  </div>
  <p class="mt-5 mb-5">
    <a href="/files/kiwano-brand-kit.zip" class="download-package"><i class="fas fa-download"></i> kiwano logo package</a>
  </p>

  <div class="container">
    <div class="row">
      <div class="col-md-3">
        <img src="/images/kiwano-logo-blue-bg.png" alt="Kiwano Logo" class="img-fluid pb-3" />
      </div>
      <div class="col-md-3">
        <img src="/images/kiwano-logo-grey-bg.png" alt="Kiwano Logo" class="img-fluid pb-3" />
      </div>
      <div class="col-md-3">
        <img src="/images/kiwano-logo-green-bg.png" alt="Kiwano Logo" class="img-fluid pb-3" />
      </div>
      <div class="col-md-3">
        <img src="/images/kiwano-logo-black-bg.png" alt="Kiwano Logo" class="img-fluid pb-3" />
      </div>
    </div>
  </div>
</section>
<section class="center pt-0">
  <h2>colors & fonts</h2>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <div class="colored-box color-1"></div>
        <p class="mb-0 mt-2">#4948bb</p>
        <p>rgb(73, 72, 187)</p>
      </div>
      <div class="col-md-2">
        <div class="colored-box color-2"></div>
        <p class="mb-0 mt-2">#48bb83</p>
        <p>rgb(72, 187, 131)</p>
      </div>
      <div class="col-md-2">
        <div class="colored-box color-3"></div>
        <p class="mb-0 mt-2">#babb01</p>
        <p>rgb(186, 187, 1)</p>
      </div>
      <div class="col-md-2">
        <div class="colored-box color-4"></div>
        <p class="mb-0 mt-2">#393898</p>
        <p>rgb(57, 56, 152)</p>
      </div>
      <div class="col-md-2">
        <div class="colored-box color-5"></div>
        <p class="mb-0 mt-2">#babb48</p>
        <p>rgb(186, 187, 72)</p>
      </div>
      <div class="col-md-2">
        <div class="colored-box color-6"></div>
        <p class="mb-0 mt-2">#cccccc</p>
        <p>rgb(204, 204, 204)</p>
      </div>
    </div>
  </div>
</section>
<section class="center pt-0">
  <h2>kiwano font & typography</h2>
  <div class="container">
    <div class="container notice ">
        <div class="row">
          <div class="col-md-6">
            <h3 class="text-color-green">headline font</h3>
            <div class="container">
              <p>
                <span class="h1"> h1</span>
                <span class="h2"> h2</span>
                <span class="h3"> h3</span>
              </p>
            </div>
    
            <p>font-family: <a href="#" class="text-color-green">"Cardo", serif;</a></p>
          </div>
          <div class="col-md-6">
            <h3 class="text-color-green">body font</h3>
            <div class="container">
              <div class="container">
                <p>
                  Lorem ipsum dolor sit amet consectetur adipisicing elit. Lorem
                  ipsum dolor sit, amet consectetur adipisicing.
                </p>
              </div>
            </div>
    
            <p>font-family: <a href="#"  class="text-color-green">"Josefin Sans", sans-serif;</a></p>
          </div>
        </div>
      </div>
  </div>
  
</section>
