<script>
    var test = false; // False if contracts are on Mainnet
    var contractAddressSale = '0xA7c9b4d2583F3a653BfAB63630A999Dbb6B88c79';
    var contractAddressToken = '0x4eEC1Dc3a43d8F53A36d4A416fC30b1B6C287d13';
</script>

<section id="airdrop-headers">
    <h1 class="center">Buy Kiwano Token</h1>
    <div class="container">
      <p class="center branding-header-text">
        <div class="dropdown center">
            <a class="btn btn-copy-style dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
              Binance Smart Chain
            </a>
          </div>
      </p>
    </div>
</section>

<section id="notice" style="padding: 0; margin:0;">
    <div class="contaner">
      <div class="container">
        <div class="container notice">
          <p> Kiwano Token Crowdsale Bonus🔥 </p>
          For Every 3 BNB or more worth of  Kiwano Token Purchased you will get a 50% refund of BNB spent. 
          <p>The process is automatic.</p>
         </div>
      </div>
    </div>
  </section>

      
    <style>
        
.buy-h1{
    text-transform: uppercase;
    color: #4880bb;
    padding-top: 20px;
    padding-bottom: 20px;
}

#progress {
    background-color: white;
    border: 2px solid #4880bb;
    position: relative;
    top: 0;
    border-radius: 10px;
    padding: 10px 10px;
    color: #4948bb; 
}
.notice{
    background-color: #bbbb0179;
    color: black;
}

        .small {
            font-size: 12px;
        }

        .err {
             color: red;
        }
        
        .green {
             color: green;
        }
        
        .blue {
             color: blue;
        }

        * {
          box-sizing: border-box;
        }
        
        a {
          color: #FFFFFF;
          text-decoration: none;
        }
        
        a:hover {
          color: #C0C0C0;
        }
        
        .clickable {
            cursor: pointer;
        }
        
        .clickable:hover {
            color: #C0C0C0;
        }
        
        
        hr {
            margin: 20px;
            margin-left: 15%;
            margin-right: 15%;
            border: 0;
            width: 70%;
            border-top: 1px dashed;
        }
        
        
    </style>
    
<section>
    <div class="center">
        <button id="connect" class="btn btn-style mb-2">Connect</button> <button class="switch btn btn-style mb-2" id="addMainBSC" style="font-size: 12px;">To BSC Mainnet</button>
        <span id="nometamask" class="err" style="display: none">Please install Metamask first...</span>
        <div class="network small"><span id="curnet"><span class="err">Please use DApp browser/extension (e.g. <a class="red" target="_blank" href="https://metamask.io">Metamask</a>)</span></span> <span id="myAddr"></span></div>
    </div>
    <hr>
    <div class="container">
        <div class="container">
            <div class="container">
                <div class="container">
                    <div class="container notice">
                        <div class="center">
                            <h1 class="buy-h1">Buy tokens</h1>
                            <p>1 BNB = <span class="rate">10000.0</span> <span class="tokenSymbol">WANO</span></p>
                            <p class="input-group">
                                <span class="input-group-text"
                                >BNB</span>
                                <input type="number" id="buyAmount" value="0" min="0.1" class="form-control input">
                            </p>
                            
                            <p>You get: <span id="get">0</span> <span class="tokenSymbol">WANO</span></p>
                            <p><button id="buyBtn" class="center btn btn-style">Buy Now</button></p>
                            <p>In my wallet: <span id="myTokens"></span> <span class="tokenSymbol">WANO</span></p>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
    </div>
    <hr>
    <div class="center">
        <h1 class="buy-h1">Sale contract</h1>
        <p>You can also buy tokens by sending BNB directly from your wallet to this contract<br>
        (please increase gas limit to 200,000 or even more for tokens with special functions like autoLP, swaps, etc.)</p>
        <p><a href="https://bscscan.com/address/0xA7c9b4d2583F3a653BfAB63630A999Dbb6B88c79" target="_blank" id="saleAddress" style="color: #000;">0xA7c9b4d2583F3a653BfAB63630A999Dbb6B88c79</a>  <button id="copySale" class="center btn btn-copy-style">Copy address</button></p>
            <div style="text-align: center" id="saleqr"></div>
    </div>
    <hr>
    <div class="center">
        <h1 class="buy-h1">Token info</h1>
        <h2><span id="tokenName">KIWANO</span> (<span class="tokenSymbol">WANO</span>)</h2>
        <p><a target="_blank" href="https://bscscan.com/token/0x4eEC1Dc3a43d8F53A36d4A416fC30b1B6C287d13" id="tokenAddress" class="black">0x4eEC1Dc3a43d8F53A36d4A416fC30b1B6C287d13</a></p>
        <!-- Reserved in case you want to show decimals and total supply: Decimals <span id="#tokenDecimals"></span> Total supply <span id="#tokenSupply"></span>-->
        <p>Do not send BNB to the token contract!</p>
        <p><button id="addToken" class="center btn btn-style">Add to Metamask</button> <button id="copyToken" class="center btn btn-style">Copy address</button></p>
    </div>
    <hr>
    <div class="center">
        <h1 class="buy-h1">Token sale information</h1>
        <p>Hardcap: <span class="hardcap">4600.0</span> BNB (~ <span class="saleqty">46000000.0</span> <span class="tokenSymbol">WANO</span>)</p>
        <p>Rate: 1 BNB = <span class="rate">10000.0</span> <span class="tokenSymbol">WANO</span> (~ <span class="price">0.0001</span> BNB/<span class="tokenSymbol">WANO</span>)</p>

    </div>   
    <hr>
    <div class="center">
        <h1 class="buy-h1">Token sale status</h1>
        <h1 class="buy-h1">
            <span id="finished" style="display:none" class="status green">Finished</span>
            <span id="addtokens" style="display:none" class="status err"><br>Ask token sale admin to approve token sale contract or check tokens balance on the wallet!</span>
            <span id="active" style="display:none" class="status green">Active</span>
        </h1>
        <p><progress id="progress" value="0" max="100" style="width: 70%"></progress></p>
        <p>Raised: <span id="raised"></span> of <span class="hardcap">4600.0</span> BNB</p>
        <p>Tokens sold: <span id="sold"></span> of <span class="saleqty">46000000.0</span> <span class="tokenSymbol">WANO</span></p>
        <p>Remaining: <span id="toraise"></span> BNB (~ <span id="unsold"></span> <span class="tokenSymbol">WANO</span>)</p>
    </div> 
</section>
    
    
 <script>
     // COPY CONTRACT
var copySale = document.getElementById("copySale");

copySale.addEventListener("click", function () {
  copySale.innerHTML = "Copied";
});
 </script>   
    
    
    
    
    
    
    
<script src='https://dappbuilder.org/js/jquery-3.6.0.min.js' type="text/javascript" charset="utf-8"></script>
<script src='https://dappbuilder.org/js/ethers-5.0.umd.min.js' type="text/javascript" charset="utf-8"></script>
<script src='https://dappbuilder.org/bsc/tokensale2/js/tokensale.ui.js' type="text/javascript" charset="utf-8"></script>

