<section id="airdrop-header">
    <h1 class="center">kiwano Tokenomics</h1>
    <div class="container">
      <p class="center branding-header-text">
        The Kiwano Project Token Details.
      </p>
    </div>
</section>
<section id="token">
    <div class="container">
      <h2 class="center">token details</h2>
      <div class="container notice">
        <div class="row">
          <div class="col-md-6">
            <div class="container">
              <h3 class="center">tokenomics</h3>
              <hr>
              <p>token name: <span>kiwano token</span></p>
              <p>token ticker: <span>WANO</span></p>
              <p>initial supply: <span>250,000,000</span></p>
              <p>blockchain: <span>polygon, avax c-chain, BSC Mainnet</span></p>
              <p>softcap: <span>1,875,000 USDT</span></p>
              <p>hardcap: <span>3,750,000 USDT</span></p>
            </div>
          </div>
          <div class="col-md-6">
            <div class="container">
              <h3 class="center">token allocation</h3>
              <hr>
              <div class="row">
                <div class="col-md-6">
                  <div class="container">
                    <div class="token-allocation">
                      <p>crowdsale: <span>30%</span></p>
                      <p></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="container">
                    <div class="token-allocation">
                      <p>listing & liquidity: <span>10%</span></p>
                      <p></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="container">
                    <div class="token-allocation">
                      <p>airdrop: <span>5%</span></p>
                      <p></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="container">
                    <div class="token-allocation">
                      <p>team & advisors: <span>10%</span></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="container">
                    <div class="token-allocation">
                      <p>Reserve: <span>35%</span></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="container">
                    <div class="token-allocation">
                      <p>marketing: <span>5%</span></p>
                    </div>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="container">
                    <div class="token-allocation">
                      <p>legal & miscellaneous: <span>5%</span></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</section>