@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  box-shadow: none !important;
  margin: 0;
  border-radius: 0;
  transition: 500ms;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background-color: #faf9fa;
}
p {
  font-size: 15px;
}
div {
  font-size: 15px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Cardo", serif;
  text-transform: uppercase;
}
li a {
  color: white;
  text-decoration: none;
}
li a:hover,
li a:active,
li a:focus {
  color: #4880bb;
}
i{
  color: #090837;
}
h1 {
  text-transform: capitalize;
}
h2 {
  font-size: 15px;
  color: #4948bb;
  padding-bottom: 30px;
}
h3 {
  font-size: 13px;
  color: #4880bb;
  padding-bottom: 30px;
}
section {
  padding-top: 100px;
  padding-bottom: 100px;
}
li {
  list-style: none;
}
.top-alert {
  height: 45px;
  text-transform: capitalize;
  color: white;
}
.light-grey p {
  color: rgb(77, 77, 77);
}
.color {
  color: #4880bb;
  color: #4880bb;
}
.text-color-white {
  color: white;
}
.text-color-green {
  color: black;
}
.btn-style {
  color: white;
  padding: 10px 20px;
  background-color: #090837;
  border-radius: 0;
  border: none;
  text-transform: capitalize;
  font-size: 15px;
  font-family: "Cardo", serif;
  border-radius: 5px;
}
.btn-copy-style {
  color: white;
  padding: 3px 10px;
  background-color: #090837;
  border: none;
  font-size: 12px;
  text-transform: capitalize;
  font-family: "Cardo", serif;
  border-radius: 5px;
}
.btn-copy-style:hover,
.btn-copy-style:focus,
.btn-copy-style:active {
  color: white;
  background-color: #090837;
}
.copy-button {
  padding-left: 20px;
}
.btn-style:hover,
.btn-style:focus,
.btn-style:active {
  color: white;
  background-color: #4880bb;
}
.btn-download-style {
  color: white;
  background-color: #4880bb00;
  border: 2px solid white;
  text-transform: capitalize;
  font-size: 15px;
  font-family: "Cardo", serif;
  border-radius: 5px;
}
.btn-download-style:hover,
.btn-download-style:focus,
.btn-download-style:active {
  color: white !important;
  border-color: #4880bb;
}
.center {
  text-align: center;
}
.input {
  border-radius: 0;
}
.complimentary-color {
  color: #4880bb !important;
}
.lowercase {
  text-transform: lowercase;
}
.radius {
  border-radius: 20px;
}
.buy-kiwano {
  border: 2px solid #4948bb;
  border-radius: 10px;
}
.buy-kiwano:hover {
  border: 2px solid #4880bb;
  background-color: #ccc;
}
/* NAVBAR */

/* HERO SECTION */

.countdown {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  border: 3px solid grey;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.countdown-content {
  display: block;
}
.status span {
  font-style: italic;
}
#time {
  font-size: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  margin: 0;
}
/* PARTNER SECTION */

/* FAQ */
#faq {
  padding-top: 50px;
}
.faq-heading {
  text-transform: capitalize;
  padding-bottom: 0;
}
.faq-heading button {
  color: #4880bb !important;
}
.no-box-shadow {
  box-shadow: none !important;
}
.accordion-button:not(.collapsed) {
  background-color: #09083717;
}
.accordion-item {
  border: none !important;
}
/* FOOTER SECTION */
#footer {
  padding-bottom: 0;
  margin-bottom: 0;
  background-color: #393898;
  text-align: left;
  color: rgb(255, 255, 255);
}
.copyright {
  margin: 0;
  margin-top: 100px;
  padding: 20px;
  text-align: center;
  background-color: #4948bb;
  text-transform: capitalize;
}
#footer ul {
  text-transform: capitalize;
}
#how-to-participate {
  padding-bottom: 20px;
}
#participate {
  padding-top: 20px;
}
.participant-details {
  margin-top: 30px;
  margin-bottom: 20px;
  padding: 20px;
  background-color: #4880bb;
  color: white;
  text-transform: capitalize;
}
.participant-details p {
  margin: 0;
  padding: 0;
}
.airdrop-success-msg p {
  text-align: center;
  padding: 10px;
  background-color: #4880bba2;
  color: white;
  text-transform: capitalize;
}
.email-success-msg p {
  text-align: center;
  padding: 10px;
  background-color: #4880bba2;
  color: white;
  text-transform: capitalize;
}
/* NOTICE */
#notice {
  padding-top: 0;
}
.notice {
  background-color: #4880bb;
  color: white;
  padding: 30px;
  border-radius: 5px;
}
/* BRANDING PAGE  */
#branding-header {
  padding-bottom: 5px;
  padding-top: 20px;
  margin-bottom: 20px;
}
.branding-header-text {
  padding-top: 20px;
  text-transform: capitalize;
  font-size: 18px;
  color: white;
}
.kiwano-brand-logo {
  display: flex;
  width: 300px;
  text-align: center;
}
.colored-box {
  width: 100%;
  height: 150px;
  background-color: #4880bb;
}
.color-1 {
  background-color: rgb(73, 72, 187);
}
.color-2 {
  background-color: rgb(72, 187, 131);
}
.color-3 {
  background-color: rgb(186, 187, 1);
}
.color-4 {
  background-color: rgb(57, 56, 152);
}
.color-5 {
  background-color: rgb(186, 187, 72);
}
.color-6 {
  background-color: rgb(204, 204, 204);
}
.h1 {
  font-size: 40px;
}
.h2 {
  font-size: 30px;
}
.h3 {
  font-size: 20px;
}
.download-package {
  font-size: 15px;
  text-transform: uppercase;
  text-decoration: none;
}
.download-package:hover {
  color: #4880bb;
}

/* TOKENS */
#token {
  background-color: white;
  color: white;
  text-transform: uppercase;
}
#token .notice {
  background-color: #4948bb;
}
#token h2 {
  color: #4948bb;
}
#token h3 {
  color: white;
}
#token span {
  color: #4880bb;
  font-size: 18px;
}
.token-allocation {
  text-align: center;
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid white;
}
.token-allocation:hover {
  border-color: #4880bb;
}
/* PRELOADER */
#loader {
  display: flex;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #fff;
  text-indent: -9000px;
  z-index: 900000;
}
.lds-hourglass {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-hourglass:after {
  content: " ";
  display: block;
  border-radius: 50%;
  width: 0;
  height: 0;
  margin: 8px;
  box-sizing: border-box;
  border: 32px solid #4948bb;
  border-color: #4948bb transparent #4948bb transparent;
  animation: lds-hourglass 1.2s infinite;
}
@keyframes lds-hourglass {
  0% {
    transform: rotate(0);
    animation-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  50% {
    transform: rotate(900deg);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  100% {
    transform: rotate(1800deg);
  }
}
/* WIDGET */
.widget {
  background-color: #55d66a4b;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  position: fixed;
  top: 50%;
  z-index: 899999;
}
.widget p {
  text-align: center;
  padding-top: 40px;
}
.widget a {
  text-decoration: none;
}
.red {
  color: red;
}
.black {
  color: black;
}
/* AIRDROP DETAILS */
.my-airdrop-details {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  padding: 20px;
  background-color: #4880bb;
  color: white;
  border-radius: 20px;
}
.my-airdrop-details span {
  color: #4880bb;
}
.mysmall {
  font-size: 10px !important;
}
.my-airdrop-details span:hover {
  color: #4880bb;
}
.color-text-2 {
  color: #4880bb;
}
.disabled{
  background-color: #828385f5;
}
